In [11]:
import pandas as pd
from glob import glob

In [3]:
path = '../data/MobiAct/Raw Data/'

In [4]:
activities = ['STD', 'WAL', 'JOG', 'JUM', 'STU', 'STN', 'SCH', 'SIT', 'CHU', 'CSI', 'CSO', 'LYI']

In [14]:
#glob(path+activities[0]+'/*_acc*')

In [33]:
data = []
for ac in activities:
    for f in glob(path+ac+'/*_acc*'):
        df = pd.read_csv(f, comment='#').reset_index()
        df['Activity'] = ac
        df['User'] = f.split('_')[2]
        data.append(pd.DataFrame(df))

In [34]:
df = pd.concat(data)
df

           level_0   level_1   level_2     @DATA Activity User
0     235423306000 -0.172383  9.883265 -0.450110      STD   39
1     235450722000 -0.220267  9.921572 -0.440533      STD   39
2     235460429000 -0.258574  9.892841 -0.459687      STD   39
3     235470358000 -0.248997  9.873688 -0.450110      STD   39
4     235490379000 -0.229843  9.825804 -0.411803      STD   39
..             ...       ...       ...       ...      ...  ...
477  2825097194000 -0.986411 -9.528923 -1.675941      CSO   65
478  2825108063000 -0.948104 -9.538500 -1.647211      CSO   65
479  2825117494000 -0.938527 -9.567230 -1.618480      CSO   65
480  2825127596000 -0.976834 -9.528923 -1.666364      CSO   65
481  2825137556000 -0.967258 -9.538500 -1.647211      CSO   65

[5275371 rows x 6 columns]

In [37]:
df = df.rename(columns={'level_0': 'Time', 'level_1': 'x', 'level_2': 'y', '@DATA': 'z'})

In [38]:
df.head()

           Time         x         y         z Activity User
0  235423306000 -0.172383  9.883265 -0.450110      STD   39
1  235450722000 -0.220267  9.921572 -0.440533      STD   39
2  235460429000 -0.258574  9.892841 -0.459687      STD   39
3  235470358000 -0.248997  9.873688 -0.450110      STD   39
4  235490379000 -0.229843  9.825804 -0.411803      STD   39

In [39]:
df.to_csv('../data/MobiAct/raw_data.csv', index=False)